<!-- @format -->

<authLayout>
    <div class="auth-wrapper auth-v1">
        <div class="auth-inner">
            <v-card class="auth-card rounded-lg" elevation="8">
                <!-- logo -->
                <v-card-title class="d-flex align-center justify-center py-7">
                    <router-link class="d-flex align-center" to="/">
                        <v-img
                            :src="require('@/assets/img/logo.svg')"
                            alt="logo"
                            class="me-3"
                            contain
                            max-height="30px"
                            max-width="30px"
                        />

                        <h2 class="text-2xl font-weight-semibold"> SSA </h2>
                    </router-link>
                </v-card-title>

                <!-- title -->
                <v-card-text>
                    <p class="text-2xl font-weight-semibold text--primary mb-2"> Adventure starts here 🚀 </p>
                    <p class="mb-2"> Make your app management easy and fun! </p>
                </v-card-text>

                <!-- login form -->
                <v-card-text>
                    <ValidationObserver ref="obs" v-slot="{ invalid, validated, handleSubmit, validate }">
                        <v-form>
                            <ValidationProvider
                                v-slot="{ errors, valid }"
                                :rules="loginRules.username"
                                mode="passive"
                                name="username"
                            >
                                <v-text-field
                                    v-model="registerData.username"
                                    class="mb-3"
                                    hide-details
                                    label="Username"
                                    outlined
                                    placeholder="JohnDoe"
                                />
                                <span class="error--text">{{ errors[0] }}</span>
                            </ValidationProvider>

                            <ValidationProvider
                                v-slot="{ errors, valid }"
                                :rules="loginRules.email"
                                mode="passive"
                                name="email"
                            >
                                <v-text-field
                                    v-model="registerData.email"
                                    class="mb-3"
                                    hide-details
                                    label="Email"
                                    outlined
                                    placeholder="john@example.com"
                                />
                                <span class="error--text">{{ errors[0] }}</span>
                            </ValidationProvider>

                            <ValidationProvider
                                v-slot="{ errors, valid }"
                                :rules="loginRules.password"
                                mode="passive"
                                name="password"
                            >
                                <v-text-field
                                    v-model="registerData.password"
                                    :append-icon="isPasswordVisible ? icons.mdiEyeOutline : icons.mdiEyeOffOutline"
                                    :type="isPasswordVisible ? 'text' : 'password'"
                                    hide-details
                                    label="Password"
                                    outlined
                                    placeholder="············"
                                    @click:append="isPasswordVisible = !isPasswordVisible"
                                />
                                <span class="error--text">{{ errors[0] }}</span>
                            </ValidationProvider>

                            <v-checkbox class="mt-1" hide-details>
                                <template #label>
                                    <div class="d-flex align-center flex-wrap">
                                        <span class="me-2">I agree to</span>
                                        <a
                                            v-model="registerData.agree"
                                            class="text-decoration-underline"
                                            href="javascript:void(0)"
                                            >privacy policy &amp; terms</a
                                        >
                                    </div>
                                </template>
                            </v-checkbox>

                            <v-btn block class="mt-6" color="primary" @click="handleSubmit(register)"> Sign Up</v-btn>
                        </v-form>
                    </ValidationObserver>
                </v-card-text>

                <!-- create new account  -->
                <v-card-text class="d-flex align-center justify-center flex-wrap mt-2">
                    <p>
                        {{ $t('auth.login_info') }}
                        <router-link :to="{ name: 'login' }" class="text-decoration-underline font-semibold">
                            {{ $t('auth.login') }}
                        </router-link>
                        .
                    </p>
                </v-card-text>

                <!-- divider -->
                <v-card-text class="d-flex align-center mt-2">
                    <v-divider />
                    <span class="mx-5">or</span>
                    <v-divider />
                </v-card-text>

                <!-- social link -->
                <v-card-actions class="d-flex justify-center">
                    <v-btn v-for="link in socialLink" :key="link.icon" class="ms-1" icon>
                        <v-icon :color="$vuetify.theme.dark ? link.colorInDark:link.color"> {{ link.icon }}</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </div>

        <!-- background triangle shape  -->
        <img
            :src="require(`@/assets/img/misc/mask-${$vuetify.theme.dark ? 'dark':'light'}.png`)"
            class="auth-mask-bg"
            height="190"
        />

        <!-- tree -->
        <v-img class="auth-tree" height="185" src="@/assets/img/misc/tree.png" width="247" />

        <!-- tree  -->
        <v-img class="auth-tree-3" height="289" src="@/assets/img/misc/tree-3.png" width="377" />
    </div>
</authLayout>
