parameters:
    paths:
        - core
        - src
        - routes
        - config
        - tests
    level: 5
    phpVersion: 80100
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: true
    customRulesetUsed: true
